* {
    box-sizing: border-box;
}

ol {
    padding: 0;
    margin: 0;
    max-width: 700px;
    position: relative;
}

ol::before {
    content: '';
    width: 0.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8%;
    background: peachpuff;
    z-index: -1;
}

li {
    padding: 0.5rem 1.5rem 1rem;
    border-radius: 1.5rem;
    background: black;
    color: white;
    list-style-type: none;
}

li+li {
    margin-top: 1rem;
}

::marker {
    font-weight: 600;
    color: tomato;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
}